---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="About Me"
  description="Learn more about my background and skills."
>
  <article itemscope="" itemtype="https://schema.org/BlogPosting">
    <header class="page-header">
      <div class="center">
        <hgroup role="group" aria-roledescription="Heading group">
          <h1 itemprop="name" class="page-title">About Spruce</h1>
          <p aria-roledescription="subtitle" class="page-subtitle">
            Software developer from Nigeria.
          </p>
        </hgroup>
      </div>
    </header>
    <section itemprop="articleBody" class="prose"></section>
  </article>
</Layout>

<style></style>
