---
import Layout from "../layouts/Layout.astro";
import ProjectList from "../components/projects/ProjectsList.astro";
---

<Layout
  title="Spruce | Portfolio"
  description="Welcome to my personal portfolio website."
>
  <header class="page-header">
    <hgroup>
      <h1 class="page-header-title">Hi, I'm Spruce Emmanuel.</h1>
      <p class="page-header-subtitle">
        (Web Developer and online tech Educator, building web applications and
        creating content around around programming and everything software
        development.)
      </p>
    </hgroup>
  </header>

  <section class="projects-section">
    <ProjectList />
    <div class="center">
      <p style="text-align: center;">
        Above are some of the projects i am currently working on, <br /> make sure
        to check them out.
      </p>
    </div>
  </section>
</Layout>

<style>
  .page-header .center {
    text-align: center;
  }
</style>
