---
import { getCollection } from "astro:content";
import ContentLayout from "../layouts/Pagelayout.astro";
import PostCard from "../components/writing/PostCard.astro";

const title = "My Journal.";
const description = "My little corner on the web where i document things.";
const pubDate = "2025-08-15";

const allPosts = await getCollection("writing");

const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
---

<ContentLayout title={title} description={description} pubDate={pubDate}>
  <div class="flex" style="margin-block-end: var(--space-2xl);">
    <h2>Writing</h2>
    <div class="post-list">
      {sortedPosts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
</ContentLayout>

<style>
  .flex {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }
  .post-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }
</style>
